title = "about"
url = "/about"
layout = "default"
description = "About us page"
is_hidden = 0

[builderList builderList2]
modelClass = "barber\Homepage\Models\Barber"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "barber-details"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList]
modelClass = "barber\Homepage\Models\AboutUs"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% set barbers = builderList2.records %}
{% set displayColumn = builderList2.displayColumn %}
{% set noRecordsMessage = builderList2.noRecordsMessage %}
{% set detailsPageBarber = builderList2.detailsPage %}
{% set detailsKeyColumnBarber = builderList2.detailsKeyColumn %}
{% set detailsUrlParameterBarber = builderList2.detailsUrlParameter %}

{% partial "title_block" %}

{% for record in records %}
<!-- about_area_start -->
<div class="about_area ">
    <div class="container">
        <div class="row align-items-center">




            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumbs">
                    <div class="large_img_1">

                        <img src="{{ record.image_one.path }}" alt="">
<!--                        <img src="{{'assets/img/about/about_lft.png'|theme}}" alt="">-->
                    </div>
                    <div class="small_img_1">
                        <img src="{{ record.image_two.path }}" alt="">
<!--                        <img src="{{'assets/img/about/about_right.png'|theme}}" alt="">-->
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6">

                <div class="about_info">
                    <div class="section_title mb-20px">
                        <h3>
                            {# Use spaceless tag to remove spaces inside the A tag. #}
                                {% spaceless %}
                                    {{ attribute(record, displayColumn) }}
                                {% endspaceless %}
                        </h3>
                        {{ record.text | raw}}
                    </div>
                    <p class="opening_hour">
                        Opening Hour
                        <span>{{ record.working_time }}</span>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->

<!-- team_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>Barber</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for barber in barbers %}
            <div class="col-lg-4 col-md-6">
                <a href="{{ detailsPageBarber|page({ (detailsUrlParameterBarber): attribute(barber, detailsKeyColumnBarber) }) }}">
                    <div class="single_team_member">
                        <div class="team_thumb">
                            <img src="{{ barber.barber_photo.path }}" alt="">
                        </div>
                        <div class="member_info text-center">
                            <h3>{{barber.name}}</h3>
                            <p>{{barber.position}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- team_area_end  -->

<!-- testimonial_area  -->
<div class="testimonial_area  ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-40 text-center">
                    <h3>
                        Testimonial
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="{{ 'assets/img/testmonial/1.png'|theme}}" alt="">
                                        </div>
                                        <h3>Watson, web developer</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="{{ 'assets/img/testmonial/1.png'|theme}}" alt="">
                                        </div>
                                        <h3>Watson, web developer</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="{{ 'assets/img/testmonial/1.png'|theme}}" alt="">
                                        </div>
                                        <h3>Watson, web developer</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->

<div class="make_apppointment_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title pl-68">
                    <h3>Make an Appointment</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="appoint_ment_form pl-68">
                    <form action="#">
                        <div class="single_field">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="single_field">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="single_field m-0">
                            <textarea id="" cols="30" rows="10" placeholder="Message"></textarea>
                        </div>
                        <p>I’m available for commissions and collaborations, and i’m <br>
                            excited to hear from you about new projects.</p>
                        <div class="form_btn">
                            <button class="boxed-btn3" type="submit">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="appointMent_info">
                    <div class="single_appontment">
                        <h4>Visit our studio at</h4>
                        <p>221B Baker Street, P. O Box 3 Park Road,
                            USA - 215852</p>
                    </div>
                    <div class="single_appontment">
                        <h4>Message us</h4>
                        <p>Support@colorlib.net <br>
                            (+68) 120034509</p>
                    </div>
                    <div class="single_appontment">
                        <h4>Working Hours</h4>
                        <p class="d-flex justify-content-between">
                            <span>Monday - Friday</span>
                            <span>:  09.00 - 23.00</span>
                        </p>
                        <p class="d-flex justify-content-between">
                            <span>Sunday</span>
                            <span>:  09.00 - 16.00s</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>