title = "About Barber"
url = "/barber/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "barber\Homepage\Models\Barber"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% partial "title_block" %}

<div class="service_area">
    <div class="container">
        <h1>{{record.name}}</h1>
        {{record.about_barber|raw}}
    </div>
</div>