title = "category"
url = "/category/:slug"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "category"
postPage = "blog-inner"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "category"

[searchInput]
useAutoComplete = 0
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "review.htm"
==
{% partial 'title_block' %}

<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {% for post in posts %}
                    <article class="blog_item">
                        <div class="blog_item_img">
                            {% for image in post.featured_images|slice(0, 1) %}
                            <img class="card-img rounded-0" src="{{ image.path }}" alt="{{ post.title }}">
                            {% endfor %}
                            <a href="#" class="blog_item_date">
                                <h3>{{ post.published_at|date('d') }}</h3>
                                <p>{{ post.published_at|date('M') }}</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ post.url }}">
                                <h2>{{ post.title }}</h2>
                            </a>
                            <p>{{ post.summary|raw }}</p>
                            <ul class="blog-info-link">
                                {% if post.categories.count %}  {% endif %}
                                {% for category in post.categories %}
                                <li><a href="{{ category.url }}"><i class="fa fa-user"></i> {{ category.name }}</a></li>{% if not loop.last %}, {% endif %}
                                {% endfor %}

                            </ul>
                        </div>
                    </article>
                    {% endfor %}

                    {% if posts.lastPage > 1 %}
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            {% if posts.currentPage > 1 %}
                            <li class="page-item">
                                <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            {% endif %}

                            {% for page in 1..posts.lastPage %}
                            <li class="{{ posts.currentPage == page ? 'active' : null }}" class="page-item">
                                <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}" class="page-link">{{ page }}</a>
                            </li>
                            {% endfor %}

                            {% if posts.lastPage > posts.currentPage %}
                            <li class="page-item">
                                <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="{{ searchInput.searchPage | page }}?q={{ query | url_encode(true) }}" method="get">
                            <div class="ss-search-form">
                                <div class="ss-search-form__input">
                                    <div class="input-group mb-3">
                                        <input class="form-control" name="q" type="text" placeholder="What are you looking for?"
                                               value="{{ searchInput.query }}"
                                               autocomplete="off"
                                               autofocus
                                               {% if searchInput.useAutoComplete %}
                                               data-track-input
                                               data-request="{{ searchInput }}::onType"
                                               data-request-before-update="document.getElementById('autocomplete-results').classList.add('ss-search-form__results--visible')"
                                               data-request-update="'{{ searchInput }}::autocomplete': '#autocomplete-results'"
                                               {% endif %}
                                        >
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn ss-search-form__submit" type="submit">Search</button>
                                </div>
                                <div class="ss-search-form__results" id="autocomplete-results"></div>
                            </div>
                        </form>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        {% component 'blogCategories' %}
                    </aside>

                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ 'assets/img/post/post_5.png'|theme }}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ 'assets/img/post/post_6.png'|theme }}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ 'assets/img/post/post_7.png'|theme }}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ 'assets/img/post/post_8.png'|theme }}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ 'assets/img/post/post_9.png'|theme }}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ 'assets/img/post/post_10.png'|theme }}" alt="">
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
