title = "contact"
url = "/contact"
layout = "default"
is_hidden = 0

[builderList Contact]
modelClass = "barber\Homepage\Models\Contact"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "address"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set recordsContact = Contact.records %}
{% set displayColumnContact = Contact.displayColumn %}
{% set noRecordsMessageContact = Contact.noRecordsMessage %}
{% set detailsPageContact = Contact.detailsPage %}
{% set detailsKeyColumnContact = Contact.detailsKeyColumn %}
{% set detailsUrlParameterContact = Contact.detailsUrlParameter %}

{% partial "title_block" %}
<div class="make_apppointment_area">
    <div class="container">
            <div class="col-lg-4 offset-lg-1">
                {% for contact_detail in recordsContact %}
                {% spaceless %}
                <div class="appointMent_info">
                    <div class="single_appontment">
                        <h4>Visit our studio at</h4>
                        <p>{{ contact_detail.address }}</p>
                    </div>
                    <div class="single_appontment">
                        <h4>Message us</h4>
                        <p>{{ contact_detail.mail }}</p>
                        {% for phone in contact_detail.phone %}
                        <p>{{phone.work_phone}}</p>
                        {% endfor%}
                    </div>
                    <div class="single_appontment">
                        <h4>Working Hours</h4>
                        {% for day in contact_detail.days %}
                        <p class="d-flex justify-content-between">
                            <span>{{ day.day }}</span>
                            <span>: {{ day.working_time }} </span>
                        </p>
                        {% endfor %}
                    </div>
                    {% endspaceless %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
