title = "form"
url = "/form"
layout = "default"
is_hidden = 0

[genericForm]
messages_success = "Ваша форма была успешно отправлена!"
messages_errors = "В вашей заявке содержатся ошибки."
mail_enabled = 1
mail_subject = "заявка на прием"
mail_recipients[] = "almazov.urmat@gmail.com"
reset_form = 1
inline_errors = "display"
js_on_success = "Отзыв успешно отправлен"
sanitize_data = "htmlspecialchars"
anonymize_ip = "disabled"
recaptcha_enabled = 1
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
{% partial "title_block" %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
            {% component 'genericForm' %}
        </div>
    </div>
</div>