title = "Search Result"
url = "/result"
layout = "default"
is_hidden = 0

[searchResults]
resultsPerPage = 100
showProviderBadge = 1
noResultsMessage = "Your search returned no results."
visitPageMessage = "Visit page"

[siteSearchInclude]
==
{% partial "title_block" %}
<div class="service_area">
    <div class="container">
        {% set results = searchResults.results %}

        {% for result in results %}
            {# Display all results #}
            {% partial searchResults ~ '::searchresult.htm' result = result %}
        {% else %}
            {# No results found #}
            {% partial searchResults ~ '::no-results.htm' %}
        {% endfor %}


        {% partial searchResults ~ '::pagination.htm' results = results %}

    </div>
</div>
