title = "Service single"
url = "/service/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "barber\Homepage\Models\Service"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Services</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<div class="service_area">
    <div class="container">
        <h1>{{record.title}}</h1>
        {{record.description|raw}}
    </div>
</div>