title = "services"
url = "/services"
layout = "default"
description = "services"
is_hidden = 0

[builderList]
modelClass = "barber\Homepage\Models\Service"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "service-single"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% partial "title_block" %}

<div class="service_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    {% for record in records if record.id == 1 %}
                        <h3>{{ record.title }}</h3>
                        <p>{{ record.description|raw }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            {% for record in records if record.id > 1%}
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}

                <div class="col-lg-4 col-md-6">
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                    <div class="single_service">
                        <div class="service_thumb">
                            <img src="{{ record.service_image.path }}" alt="">
                        </div>
                        <div class="service_content text-center">
                            <div class="icon">
                                <i class="flaticon-{{record.icon}}"></i>
                            </div>
                            <h3>{{ record.title }}</h3>
                            <p>{{ html_limit(record.description, 120)|raw }}</p>
                        </div>
                    </div>
                    </a>
                </div>
            {% endspaceless %}
            {% endfor %}
        </div>
    </div>
</div>


<div class="make_apppointment_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title pl-68">
                    <h3>Make an Appointment</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="appoint_ment_form pl-68">
                    <form action="#">
                        <div class="single_field">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="single_field">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="single_field m-0">
                            <textarea id="" cols="30" rows="10" placeholder="Message"></textarea>
                        </div>
                        <p>I’m available for commissions and collaborations, and i’m <br>
                            excited to hear from you about new projects.</p>
                        <div class="form_btn">
                            <button class="boxed-btn3" type="submit">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="appointMent_info">
                    <div class="single_appontment">
                        <h4>Visit our studio at</h4>
                        <p>221B Baker Street, P. O Box 3 Park Road,
                            USA - 215852</p>
                    </div>
                    <div class="single_appontment">
                        <h4>Message us</h4>
                        <p>Support@colorlib.net <br>
                            (+68) 120034509</p>
                    </div>
                    <div class="single_appontment">
                        <h4>Working Hours</h4>
                        <p class="d-flex justify-content-between">
                            <span>Monday - Friday</span>
                            <span>:  09.00 - 23.00</span>
                        </p>
                        <p class="d-flex justify-content-between">
                            <span>Sunday</span>
                            <span>:  09.00 - 16.00s</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>