{% if __SELF__.categories|length > 0 %}
    <ul class="list cat-list">
        {% partial __SELF__ ~ "::items"
            categories = __SELF__.categories
            currentCategorySlug = __SELF__.currentCategorySlug
        %}
    </ul>
{% else %}
    <p>No categories were found.</p>
{% endif %}
