{% for category in categories %}
    {% set postCount = category.post_count %}
    <li style="border-bottom: 1px solid #f0e9ff;padding-bottom: 12px;" {% if category.slug == currentCategorySlug %}class="active"{% endif %}>
        <a class="d-flex" href="{{ category.url }}">
            <p>{{ category.name }}</p>
            {% if postCount %}
                <p>({{ postCount }})</p>
            {% endif %}
        </a>

        {% if category.children|length > 0 %}
            <ul>
                {% partial __SELF__ ~ "::items"
                    categories=category.children
                    currentCategorySlug=currentCategorySlug
                %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
