<h3>Here goes your custom form</h3>
<p>Override HTML by creating a new partial called <strong>default.htm</strong> (more info <a href="https://octobercms.com/docs/cms/components#overriding-partials" target="_blank">here</a>)</p>
<p>You can copy/paste this basic template:</p>
<pre>
    &lt;form data-request="&lbrace;&lbrace; __SELF__ }}::onFormSubmit"&gt;
        &lbrace;&lbrace; form_token() &rbrace;&rbrace;
        &lt;div id="&lbrace;&lbrace; __SELF__ &rbrace;&rbrace;_forms_flash"&gt;&lt;/div&gt;
        &lt;!-- YOUR FORM FIELDS --&gt;
        &lbrace;% partial '@recaptcha' %}
        &lt;!-- SUBMIT BUTTON --&gt;
    &lt;/form&gt;
</pre>
