[builderList Services]
modelClass = "barber\Homepage\Models\Service"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "service-single"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList Homepage]
modelClass = "barber\Homepage\Models\Homepage"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = Services.records %}
{% set displayColumn = Services.displayColumn %}
{% set noRecordsMessage = Services.noRecordsMessage %}
{% set detailsPage = Services.detailsPage %}
{% set detailsKeyColumn = Services.detailsKeyColumn %}
{% set detailsUrlParameter = Services.detailsUrlParameter %}


{% set recordsHomepage = Homepage.records %}
{% set displayColumnHomepage = Homepage.displayColumn %}
{% set noRecordsMessageHomepage = Homepage.noRecordsMessage %}
{% set detailsPageHomepage = Homepage.detailsPage %}
{% set detailsKeyColumnHomepage = Homepage.detailsKeyColumn %}
{% set detailsUrlParameterHomepage = Homepage.detailsUrlParameter %}

<footer class="footer">
    {% for record in recordsHomepage %}
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-md-6 col-lg-5 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="{{record.logo.path}}" alt="">
                            </a>
                        </div>
                        <p class="address_text">
                            {{ record.text_footer|raw }}
                        </p>
                        <div class="socail_links">
                            <ul>
                                {% for social_item in record.social_icons_on_footer%}
                                <li>
                                    <a target="_blank" href="{{ social_item.links }}">
                                        <i class="{{ social_item.class_name }}"></i>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Information
                        </h3>
                        <ul class="links">
                            <li><a href="{{'about'|page}}">About</a></li>
                            <li><a href="{{'services'|page}}">Services</a></li>
                            <li><a href="#">Testimonial</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2  col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Services
                        </h3>
                        <ul class="links">
                            {% for record in records %}
                            <li>
                                {# Use spaceless tag to remove spaces inside the A tag. #}
                                {% spaceless %}
                                {% if detailsPage %}
                                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                    {% endif %}

                                    {{ attribute(record, displayColumn) }}

                                    {% if detailsPage %}
                                </a>
                                {% endif %}
                                {% endspaceless %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2  col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Follow Us
                        </h3>




                                    {# Use spaceless tag to remove spaces inside the A tag. #}
                                    {% spaceless %}
                                        <ul class="links">
                                            {% for social in record.social_icons_on_footer %}
                                            <li>
                                                <a target="_blank" href="{{ social.links}}"> {{ social.social_name }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    {% endspaceless %}




                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</footer>
