[viewBag]

[staticMenu]
code = "home"

[builderList Homepage]
modelClass = "barber\Homepage\Models\Homepage"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set recordsHomepage = Homepage.records %}
{% set displayColumnHomepage = Homepage.displayColumn %}
{% set noRecordsMessageHomepage = Homepage.noRecordsMessage %}
{% set detailsPageHomepage = Homepage.detailsPage %}
{% set detailsKeyColumnHomepage = Homepage.detailsKeyColumn %}
{% set detailsUrlParameterHomepage = Homepage.detailsUrlParameter %}

<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <div class="logo-img">
                            <a href="{{'Homepage'|page}}">
                                {% for homepage in recordsHomepage %}
                                    <img src="{{ homepage.logo.path }}" alt="">
                                {% endfor %}
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="menu_wrap d-none d-lg-block">
                            <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                <div class="main-menu">
                                    <nav>
                                    {% component 'staticMenu' %}
                                    </nav>
                                </div>
                                <div class="book_room">
                                    <div class="book_btn">
                                        <a class="popup-with-form1" href="/form">Appointment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
