description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <title>October CMS - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <link rel="shortcut icon" type="image/x-icon" href="{{ 'assets/img/favicon.png'|theme }}">

        <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/owl.carousel.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/magnific-popup.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/themify-icons.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/nice-select.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/flaticon.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/gijgo.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/animate.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/slicknav.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
        {% styles %}
    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- header-start -->
        {% partial "header" %}
        <!-- header-end -->
        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>
        <!-- footer_start  -->
        {% partial "footer" %}
        <!-- footer_end  -->



        <!-- JS here -->
        <script src="{{ 'assets/js/vendor/modernizr-3.5.0.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/vendor/jquery-1.12.4.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/popper.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/isotope.pkgd.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/ajax-form.js'|theme }}"></script>
        <script src="{{ 'assets/js/waypoints.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.counterup.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/imagesloaded.pkgd.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/scrollIt.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.scrollUp.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/wow.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/nice-select.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.slicknav.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.magnific-popup.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/plugins.js'|theme }}"></script>
        <script src="{{ 'assets/js/gijgo.min.js'|theme }}"></script>

        <!--contact js-->
        <script src="{{ 'assets/js/contact.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.ajaxchimp.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.form.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.validate.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/mail-script.js'|theme }}"></script>

        <script src="{{ 'assets/js/main.js'|theme }}"></script>
        <script>
            $('#datepicker').datepicker({
                iconsLibrary: 'fontawesome',
                disableDaysOfWeek: [0, 0],
                //     icons: {
                //      rightIcon: '<span class="fa fa-caret-down"></span>'
                //  }
            });
            $('#datepicker2').datepicker({
                iconsLibrary: 'fontawesome',
                icons: {
                    rightIcon: '<span class="fa fa-caret-down"></span>'
                }

            });
            var timepicker = $('#timepicker').timepicker({
                format: 'HH.MM'
            });
        </script>

        {% framework extras %}
        {% scripts %}

    </body>
</html>
