
<!--<form data-request="{{ __SELF__ }}::onFormSubmit">-->

<!--    {{ form_token() }}-->
<!--    <div id="{{ __SELF__ }}_forms_flash"></div>-->

<!--    <div class="form-group">-->
<!--        <label for="name">Name:</label>-->
<!--        <input type="text" id="name" name="name" class="form-control">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label for="email">Email:</label>-->
<!--        <input type="text" id="email" name="email" class="form-control">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label for="subject">Subject:</label>-->
<!--        <input type="text" id="subject" name="subject" class="form-control">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <textarea id="comments" name="comments" rows="8" cols="80"></textarea>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        {% partial '@recaptcha' %}-->
<!--    </div>-->

<!--    <button id="simpleContactSubmitButton" type="submit" class="btn btn-default">Submit</button>-->

<!--</form>-->

<br>
<br>
<br>
<!-- form itself end-->
<!--<form id="test-form" class="white-popup-block mfp-hide">-->
<!--    <div class="popup_box ">-->
<!--        <div class="popup_inner">-->
            <h3>Make an Appointment</h3>
            <form data-request="{{ __SELF__ }}::onFormSubmit">
                {{ form_token() }}
                <div id="{{ __SELF__ }}_forms_flash"></div>
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <input name="date" id="datepicker" class="form-control" placeholder="Date">
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <input name="time" id="timepicker" class="form-control" placeholder="time">
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <select name="service" class="form-select wide form-control">
                            <option data-display="Choose services">Choose services</option>
                            <option class="form-control" value="Men’s Haircuts">Men’s Haircuts</option>
                            <option class="form-control" value="Men’s Shave">Men’s Shave</option>
                            <option class="form-control" value="Beard Triming">Beard Triming</option>
                        </select>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <select name="barber" class="form-select wide form-control">
                            <option data-display="Choose Barbers">Choose Barbers</option>
                            <option class="form-control" value="Jems Smith">Jems Smith</option>
                            <option class="form-control" value="Thomas J Watson">Thomas J Watson</option>
                            <option class="form-control" value="Jhon Smith">Jhon Smith</option>
                        </select>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <input class="form-control" name="name" type="text" placeholder="Your name">
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <input class="form-control" name="phone" type="text" placeholder="Phone no">
                    </div>
                    <div class="col-xl-12">
                        <input class="form-control" name="email" type="email" placeholder="Your email">
                    </div>
                    {% partial '@recaptcha' %}
                    <div class="col-xl-12">
                        <button id="simpleContactSubmitButton" type="submit" class="boxed-btn3">SENT</button>
                    </div>
                </div>
            </form>
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
<!-- form itself end-->
<br>
<br>
<br>
<br>
<br>
