
        <h2 class="comment-reply-title">Add comment
            <small><a onclick="Comment.cancel()" style="display: none;" rel="nofollow" id="cancel-comment-reply-link"
                      title="Cancel reply">×</a>
            </small>
        </h2>
        <form class="form-contact comment_form" id="commentForm">
            <div id="comment_flash_message"></div>
            <!-- Content Field -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <textarea placeholder="Leave a comment ..." class="form-control" id="comment-text" name="content"
                                  cols="50" rows="10"></textarea>
                    </div>
                </div>
            </div>

            {% if(user == false) %}
                <!-- Name Field -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input placeholder="Name" class="form-control" name="author" type="text">
                        </div>
                    </div>
                </div>

                <!-- Email Field -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input placeholder="Email" class="form-control" name="email" type="text">
                        </div>
                    </div>
                </div>
            {% endif %}


            <input name="post_id" type="hidden" value="{{__SELF__.post_id}}">

            {% if (__SELF__.settings.recaptcha_enabled) %}
            <div class="g-recaptcha" data-sitekey="{{ __SELF__.settings.site_key }}"></div>
            <br>
            {% endif %}

            <!-- Submit Field -->
            <div class="form-group">
                <button type="submit" class="button button-contactForm btn_1 boxed-btn btn btn-primary" onclick="Comment.saveButton(event)">Send Message</button>
            </div>
        </form>


