{% for post in posts %}
<div class="comment-list" id="comment-{{post.id}}">
    <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
            <div class="thumb">
                {{post.avatar|raw}}
<!--                <img src="img/comment/comment_3.png" alt="">-->
            </div>
            <div class="desc">
                <p class="comment">
                    {{post.content|raw}}
                </p>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <h5>
                            <a href="#">{{post.name}}</a>
                        </h5>
                        <p class="date">{{post.created_at.diffForHumans}}</p>
                    </div>
                    <div class="reply-btn">
                        <a href="#" class="comment-reply btn-reply text-uppercase" onclick="Comment.replay(event,'{{post.id}}')">reply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if post.children %}
<div style="padding-left: 20px; padding-bottom: 20px">
    {% partial "commentsPost::list" posts=post.children %}
</div>
{% endif %}
{% endfor %}
